*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Helvetica;
  font-size: 16px;
  background: #140b1e;
  color: #fff;
  overflow-x: hidden;
}

.container {
  max-width: 1100px;
  position: relative;
}

a {
  color: #fff;
  text-decoration: none;
}

.fas {
  color: #f1b814;
}

ul {
  list-style: none;
}

.active {
  font-weight: 700;
}

.btn {
  width: 150px;
  padding-top: 9px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  height: 45px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(
    to right,
    #667eea,
    #764ba2,
    #6b8dd6,
    #8e37d7
  );
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

.btn:hover {
  background-position: 100% 0;
}

/* ------------------Carousel top------------------ */

.text-bg-dark img {
  height: 65vh;
  width: 100%;
  position: relative;
}

.text-bg-dark::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, transparent, #140b1e);
}

#forText {
  position: absolute;
  left: 5%;
  top: 50%;
  color: #fff;
  font-size: small;
  font-weight: 200;
  z-index: 2;
}

#forText .numbers {
  display: flex;
  justify-content: space-between;
  width: 450px;
}

#forText h5 {
  font-size: 50px;
  font-weight: 700;
}

#forText .card-text {
  width: 600px;
  font-size: 16px;
}

/*-------------------- Card----------------------- */

.card {
  color: #fff;
  font-size: small;
  font-weight: 200;
  background: #28173a;
  border: none;
  border-radius: 25px;
}

.card img {
  width: 100%;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.card:hover {
  transition: all 0.5s ease-in-out;
  transform: scale(1.2);
  background: var;
}

/* ------------------filter----------------------- */

.filter {
  cursor: pointer;
  font-weight: 400;
  color: #fff;
  border-radius: 50px;
  padding: 10px;
  border: none;
  margin-right: 10px;
  font-size: 16px;
  background-size: 300% 100%;
  border: none;
  border-radius: 50px;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(
    to right,
    #667eea,
    #764ba2,
    #6b8dd6,
    #8e37d7
  );
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

.filter:hover {
  color: #fff;
  background-position: 100% 0;
}

option {
  color: #000;
}

/* ---------------------switch-------------------- */

input[type="radio"] {
  display: none;
}

.switch-field label {
  color: #fff;
  font-size: 16px;
  text-align: center;
  padding: 12px 16px;
  height: 50px;
  cursor: pointer;
  background-color: transparent;
}

.switch-field label:hover {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
}

.switch-field input:checked + label {
  border: none;
  font-size: 16px;
  background-size: 300% 100%;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(
    to right,
    #667eea,
    #764ba2,
    #6b8dd6,
    #8e37d7
  );
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

.switch-field label:first-of-type {
  border-radius: 50px 0 0 50px;
}

.switch-field label:last-of-type {
  border-radius: 0 50px 50px 0;
}

/*------------------- Search ---------------------*/

.search .container {
  margin-top: 100px;
}

.search .container form {
  display: flex;
}

.fa-search {
  color: #fff;
}
.search .container .search-flex {
  display: flex;
  justify-content: space-between;
}

.search .container form input[type="text"] {
  width: 350px;
  height: 50px;
  padding: 10px;
  margin-right: 5px;
  border: 1px solid #fff;
  border-radius: 50px;
  background: transparent;
  color: #fff;
}

.search .container form input[type="text"]::placeholder {
  color: #656565;
}

.search .container form input[type="text"]:focus {
  outline: none;
}

.search .container form .btn-search {
  display: block;
  width: 50px;
  padding: 10px;
  border-radius: 50px;
  height: 50px;
  cursor: pointer;

  background-size: 300% 100%;
  border: none;
  border-radius: 50px;
  transition: all 0.4s ease-in-out;

  background-image: linear-gradient(
    to right,
    #667eea,
    #764ba2,
    #6b8dd6,
    #8e37d7
  );
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

.search .container form button:hover {
  color: #fff;
  background-position: 100% 0;
}

/*--------------- swiper--------------------- */

.swiper .swiper-slide {
  -webkit-transition: 250ms all;
  transition: 250ms all;
}
.swiper .swiper-slide:hover {
  z-index: 1;
}
.swiper .swiper-wrapper {
  padding: 30px 0;
}

.swiper .swiper-slide:first-child:hover {
  margin: 0 40px;
}

.slider .swiper-slide:last-child:hover {
  margin: 0 -40px;
}

/*-------------------- pagination------------------- */

.pagesec .pagination {
  background: transparent;
  background-image: linear-gradient(
    to right,
    #667eea,
    #764ba2,
    #6b8dd6,
    #8e37d7
  );
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
  border-radius: 50px;
}

.pagination li a {
  color: #fff;
  border: 0;
  height: 50px;
  display: flex;
  align-items: center;
  background: transparent;
}

.pagination .page-item.disabled .page-link {
  background: rgba(0, 0, 0, 0.5);
  color: #ccc;
}

.pagination li a:hover {
  color: #fff;
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
  background: #140b1e;
}

.page-item.disabled:first-child .page-link {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.page-item:last-child .page-link {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

/*--------------------- Footer----------------------- */

hr {
  margin-bottom: -20px;
}
.main-footer {
  background: transparent;
  padding: 20px 0;
  margin-top: 20px;
}

.main-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-footer .container .logo {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: Helvetica;
}

.main-footer .container .social-links {
  display: flex;
  font-size: 20px;
}

.main-footer .container .social-links a {
  margin-left: 10px;
  color: #fff;
}

.main-footer .container .social-links a:hover {
  color: var(--color-secondary);
}
